<!DOCTYPE html>
<html>
<head>
  <title>Sklep</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= link_to "Home", root_path%>
<% if user_signed_in? %>
<%= link_to "Wyloguj się użytkowniku", destroy_user_session_path %>
<% else %>
<%= link_to "Zaloguj się użytkowniku", new_user_session_path %>
<% end %>

<% if admin_signed_in? %>
<%= link_to "Wyloguj się adminie", destroy_admin_session_path %>
<% else %>
<%= link_to "Zaloguj się adminie", new_admin_session_path %>
<% end %>


<hr>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
